.v3div {
  overflow-x: hidden;
}

.first-spacer {
  margin: 50px !important;
}

.simp-col-l {
  text-align: right !important;
  margin-left: -185px;
}

.simp-col-r {
  text-align: left !important;
  margin-left: -25px;
}

.simp {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
