.v3div {
  overflow-x: hidden;
  overflow: hidden;
}

.first-spacer {
  margin: 50px !important;
}

.init-btn {
  border-radius: 32px !important;
  margin-bottom: 10px;
}

.simp-row {
  margin-bottom: 12px;
  margin-left: -40px !important;
}

.simp-col-l {
  text-align: right !important;
  margin-left: -185px;
}

.simp-col-r {
  text-align: left !important;
  margin-left: -25px;
}

.initial-input {
  font-family: "Overpass Mono";
  font-weight: 700 !important;
  color: black !important;
  font-size: 1.25em !important;
  box-shadow: none !important;
  border: none !important;
  width: 40vh !important;
  caret-color: darkcyan;
  margin-left: -5px;
}

.simp-text {
  font-family: "Overpass Mono";
  font-weight: 700 !important;
  font-size: 1.25em !important;
  margin-top: 10px;
}
