.row-init {
  margin-bottom: 10px;
}

.input-span {
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 32px;
  width: 100vh;
}

.leftside {
  font-weight: bolder !important;
  color: black !important;
  padding-top: 10px;
  padding-left: 10px;
}

.in-hr {
  border: 2px solid black;
  margin-top: -8px;
  width: 24vw;
}

.input-init {
  font-family: "Overpass Mono";
  font-weight: 700 !important;
  color: black !important;
  font-size: 1.25em !important;
  box-shadow: none !important;
  border: none !important;
  width: 40vh !important;
  margin-left: 91px;
  caret-color: darkcyan;
}

.hint-b {
  position: relative;
  border-radius: 50% !important;
  width: 7vh !important;
  left: -10px !important;
  font-size: small !important;
}

.hint-b:hover,
.hint-b:active,
.hint-b:visited,
.hint-b:focus {
  background-color: darkcyan !important;
  border-color: darkcyan !important;
}

.check-btn {
  border-radius: 32px !important;
  margin-left: 10px;
  height: 5vh;
  margin-top: 10px;
}
